*{
    margin: 0px;
    padding: 0px;
    color: #f5c800 !important;
}
body{
    background:linear-gradient(90deg, rgb(8, 8, 8) , rgb(92, 92, 92)) !important;
    background-repeat: no-repeat;
    text-align: center;
    height: 100vh !important;
}
.active{
    font-size: 10px !important;
    border-color:rgba(255, 0, 0, 0) !important;
}
a{
    text-decoration: none !important;
}
.dota{
    display: inline;
    color: white !important;
}
/* ....SCROLL.... */
::-webkit-scrollbar{
    width: 20px;
}
::-webkit-scrollbar-track{
    background-color: rgb(65, 65, 65)
}
::-webkit-scrollbar-track:hover{
    background-color: rgb(65, 65, 65)
}
::-webkit-scrollbar-thumb{
    background-color: #f5bc00bd;
    border-radius: 15px;
}
::-webkit-scrollbar-thumb:hover{
    background-color: #f5c800;
}
::-webkit-scrollbar-corner{
    background-color: black;
}
/* ::-webkit-scrollbar-button{
    background-color: rgba(0, 0, 0, 0.918);
} */
h1{
    font-size: 50px !important;
    text-align: center;
    margin-top: 20px !important;
    margin-bottom: 10px !important;
    margin: auto;
}
/* ....HEADER.... */
header{
    background: rgba(0, 0, 0, 0.356)url(macbook-925595_1920.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    width: 100%;
    height: 800px;
    padding: 50px;
}
header img{
    width: 400px;
    height: 400px;
    float: right !important;
    margin: -30px;
    margin-left: 950px;
    margin-top: -35px;
}
header h1{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: start;
    padding-top: 10px;
    margin-left: 30px;
    font-size: 60px;
}
header h2{
    font-size: 45px;
    text-align: start;
    padding-left: 70px;
}
header h3{
    font-size: 40px;
    font-weight: normal;
    text-align: start;
    padding-left: 90px;
    color: rgba(0, 0, 0, 0.850) !important;
}
header h4{
    font-size: 35px;
    text-align: start;
    padding-left: 200px;
}
.dot{
    display: inline;
    color: rgba(0, 0, 0, 0.850) !important;
    font-weight: normal;
}
strong{
    font-size: large;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white !important;
}
/* ....ABOUT.... */
#main{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    margin-top: 150px;
    margin-bottom: 150px;
    width: 90%;
    height: 600px;
    text-align: center;
}
#abouthr{
    opacity: 1;
    margin: auto !important;
    width: 20%;
    height: 1px;
    background-color: rgb(255, 255, 255) !important;
}
#about p{
    width: 70% ;
    text-align: justify;
    font-size: larger;
    margin-top: 30px;
    margin-left: 110px;
}
#vid{
    width: 50%;
    height: 600px;
    border: 3px solid !important;
    border-color: #f5c800 !important;
    border-radius: 15px;
}
#vid:hover{
    border: 3px solid #f5c800 !important;
    box-shadow: 0px 0px 10px #ffffff !important;
}
#asubmitButton{
    margin-top: 30px;
    color: whitesmoke !important;
    background-color: #ffd00000 !important;
}
#asubmitButton:hover{
    color: black !important;
    background-color: #f5c800 !important;
}
/* ....PROFILE.... */
#myskills{
    width: 100%;
    height: 850px !important;
}
#profilehr{
    opacity: 1;
    margin: auto !important;
    width: 12%;
    height: 1px;
    background-color: white !important;
}
label{
    font-size: 25px;
    line-height: 50px;
    width: 70%;
    text-align: start !important;
    color: whitesmoke !important;
}
.progress{
    width: 70%;
    height: 25px !important;
    border-radius: 25px !important;
    background-color: rgba(114, 114, 114, 0.438) !important;
    text-align: end !important;
    margin: auto;
    margin-bottom: 30px;
}
.progress-bar{
    color: whitesmoke !important;
    transition: width 0.5s linear;
}
#mywork{
    margin-bottom: 100px;
    width: 100%;
    height: 850px !important;
}
.projects[_ngcontent-qva-c20] {
    font-size: 20px;
    font-weight: bold;
}
.text-center {
    text-align: center!important;
}
.pt-5, .py-5 {
    padding-top: 3rem!important;
}
article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}
*, ::after, ::before {
    box-sizing: border-box;
}
user agent stylesheet
section {
    display: block;
}
/* ....CONTACT.... */
section{
    background-image: url(https://startbootstrap.github.io/startbootstrap-agency/assets/img/map-image.png);
    background-size: cover;
    text-align: center;
}
.form-control:focus{
    border: 2px white solid !important;
    border-color: rgb(255, 255, 255) !important;
    box-shadow: 1px 1px 10px white !important;
}
#contacthr{
    opacity: 1;
    margin: auto !important;
    width: 20%;
    height: 1px;
    background-color: white !important;
}
.contacte{
    display: inline;
    color: whitesmoke !important;
    font-weight: normal;
}
#contactForm input{
    color: whitesmoke !important;
    font-size: large;
    background-color: rgba(209, 209, 209, 0);
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 1px 1px 10px grey !important;
}
#contactForm input:valid{
    border: 2px solid #00c700ef !important;
    outline: 0px;
}
#contactForm input:invalid{
    outline: 0px;
}
#message{
    border: 1px solid #f5c800 !important;
    width: 100%;
    margin: 0px;
    height: 400px;
    min-height: 350px;
    max-height: 465px;
    color: whitesmoke !important;
    font-size: large;
    background-color: rgba(0, 0, 0, 0);
}
#submitButton{
    margin-right: 560px;
    margin-bottom: 15px;
    margin-top: -200px;
    color: whitesmoke !important;
    background-color: #ffd00000 !important;
}
#submitButton:hover{
    color: black !important;
    background-color: #f5c800 !important;
}
/* ....FOOTER.... */
footer{
    height: 100px;
}
/* ....NAV BAR.... */
.nav-link{
    justify-content: center;
    margin: 0px;
    text-align: center;
    font-size: 15px!important;
    width: 100%;
    height: 60px;
    background-color: rgba(255, 255, 255, 0) !important;
}
.nav-link:hover{
    border-color: rgba(255, 0, 0, 0) !important;
}
.nav-item{
    height: 60px;
    background-color: rgba(56, 56, 56, 0);
    text-align: center;
}
.nav-item:hover{
    background-color: #f5c800 !important;
    color: rgb(0, 0, 0) !important;
    border-radius: 50px;
    border-color: rgba(34, 34, 34, 0) !important;
    transform: scale(1.1);
    text-overflow: clip;
}
.fixed-bottom{
    background-color: #ffffff4f;
    text-align: center;
    margin: auto;
    margin-bottom: 15px !important;
    width: 30%;
    border-radius: 50px;
    border-bottom: 0px solid black !important;
}
.fixed-bottom:hover{
    background-color: rgba(255, 255, 255, 0.123);
}
#ihome{
    width: 34px;
}
#iabout{
    width: 31px;
    filter:contrast(150%);
    filter: saturate(1);
    filter: blur(-1px);
    opacity: 0.6;
}
#iprofile{
    width: 33px;
}
#icontact{
    width: 35px;
}
/* ....Thankyou Message.... */
.thankyou_message{
    margin: auto;
}
@media only screen and (max-width: 650px){

header{
    width: 100%;
    background-size: 100%;
    background-size: contain;
    height: 400px;
}
header h1{
    text-align: start;
    padding-top: 5px;
    padding-left: 10px;
    font-size: 30px;
}
header h2{
    font-size: 25px;
    text-align: start;
    padding-left: 20px;
}
header h3{
    font-size: 20px;
    font-weight:lighter;
    text-align: start;
    padding-left: 40px;
    color: white !important;
}
header h4{
    font-size: 15px;
    text-align: start;
    padding-left: 90px;
}
.dot{
    display: inline;
    color: white !important;
    font-weight:normal;
}
.nav-item{
    width: 65px;
    height: 60px;
}
.fixed-bottom{
    width: 50%;
}
#ihome{
    width: 29px;
}
#iabout{
    width: 29px;

}
#iprofile{
    width: 28px;
}
#icontact{
    width: 30px;
}
}